<div class="cart">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of CartItems">
                <td>{{item.Item?.name}}</td>

                <td>{{item.Item?.groupname}}</td>
                <td>SAR {{item.Item?.price}}</td>
                <td><input type="number" value="{{item.quantity}}" min="1"></td>
                <td>{{item.quantity*item.Item?.price}}</td>
            </tr>
            <!-- repeat the above row for each product -->
        </tbody>
    </table>
    <div class="cart-total">
        <p>Total: $50.00</p>
        <button>Checkout</button>
    </div>
</div>